* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #212121;
    font-family: sans-serif;
}

p {
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.master-container {
    width: 100vw;
    height: 100vh;
}

.container .clock-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    justify-self: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.container .clock-wrapper .clock {
    font-size: 90px;
    margin-bottom: 30px;
    padding: 0 20px;
    color: #fff;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-bottom: 50px;
}

.footer .menu {
    display: flex;
    justify-self: center;
    gap: 30px;
}

.footer .menu .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer .menu .col img {
    width: 35px;
}